<!-- ユーザー情報 -->

<h2>User info</h2>
<table class = "table table-striped">
	<tr>
		<td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: "jpeg", fallback: "no_image.jpg" %><td>
		<td></td>
	</tr>
	<tr>
		<td><p>name</p></td>
		<td><%= user.name %></td>
	</tr>
	<tr>
		<td><p>introduction</p></td>
		<td><%= user.user_introduction %></td>
	</tr>
</table>

<% if user == current_user %>
	<%= link_to edit_user_path(user) do%>
	<button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
	<% end %>
<% else %>
	<%= link_to user_path(current_user) do%>
<button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
<% end %>

<% end %>