<h1>User info</h1>

<% if @user.errors.any? %>
	<div class="error_explanation">
		<p><%= @user.errors.count %> erros prohibited this user from being saved:</p>
		 <div class ="erro_messages">
		 	<% @user.errors.full_messages.each do |message| %>
		 		<li><%= message %></li>
		 	<% end %>
		</div>
	</div>
<% end %>

<div class = "edit-content">
	<%= form_for(@user) do |f| %>
		<div class = "edit-name-form form">
			<p>Name</p>
			<%= f.text_field :name,placeholder: @user.name %>
		</div>
		<div class = "edit-image-form form">
			<p>Image</p>
			<%= f.attachment_field :profile_image %>
		</div>
		<div class = "edit-introduction-form form">
			<p>Introduction</p>
			<%= f.text_area :introduction %>
		</div>
		<%= f.submit "Update User" %>
	<% end %>
</div>